@import "settings.config";
@import "settings.global";

@import "generic.normalize";
@import "generic.box-sizing";
@import "generic.shared";
@import "generic.accessibility";

@import "base.links";

@import "components.page-head";
@import "components.page-foot";
@import "components.menu-primary";

@import "components.woocommerce-shop";
@import "components.woocommerce-category-list";
//@import "components.woocommerce-brand-list";

h1, h2, h3, h4 {
	font-family: "bebas-neue",sans-serif;
	text-transform: uppercase;
}

address {
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	padding: 24px;
}

ul {
	margin: 0;
	padding: 0;
}



.o-layout {
	position: relative;
	margin-left: -2.5%;
}

.o-layout__item {
	display: inline-block;
	vertical-align: top;
	padding-left: 2.5%;
}


.o-layout__null {
	margin-left: 0;
}

.o-layout__null > .o-layout__item {
	padding-left: 0;
}


.u-aligncenter          { text-align: center; }
.u-uppercase            { text-transform: uppercase; }

.m-0 {
	margin: 0;
}



.u-1-6 {
	width: 50%;
}

@media screen and (min-width: 420px) {
	.u-1-6 { width: 33.333333333%; }
}


@media screen and (min-width: 840px) {
	.u-1-6 { width: 16.6666666667%; }
}



@keyframes soren {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
