body {
  font-family: "Proxima-Nova",sans-serif;
  line-height: 1.4;
  background-color: #fff;
  color: #222; }

a,
a:visited {
  color: #222;
  text-decoration: none; }

a:hover,
a:active,
a:focus {
  color: #222;
  text-decoration: underline; }

.brand-logo {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto; }

.woocommerce .woocommerce-breadcrumb {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #777; }

/* hide brand name added by brand plugin */
.yith-wcbr-brands {
  display: none; }

/*@media screen and (min-width: 840px) {*/
@media screen and (min-width: 640px) {
  /* gain control of image and summary wrappers */
  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    width: 50%;
    float: left; }
  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 50%;
    float: right; } }

/* single product image and info (summary) */
.woocommerce div.product div.images,
.woocommerce div.product div.summary {
  margin: 0; }

.woocommerce div.product form.cart,
.woocommerce div.product p.cart {
  margin: 0; }

.c-woo-categories-list h2 {
  margin-top: 0;
  margin-bottom: 24px; }

h1, h2, h3, h4 {
  font-family: "bebas-neue",sans-serif;
  text-transform: uppercase; }

address {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  padding: 24px; }

ul {
  margin: 0;
  padding: 0; }

.o-layout {
  position: relative;
  margin-left: -2.5%; }

.o-layout__item {
  display: inline-block;
  vertical-align: top;
  padding-left: 2.5%; }

.o-layout__null {
  margin-left: 0; }

.o-layout__null > .o-layout__item {
  padding-left: 0; }

.u-aligncenter {
  text-align: center; }

.u-uppercase {
  text-transform: uppercase; }

.u-1-6 {
  width: 50%; }

@media screen and (min-width: 420px) {
  .u-1-6 {
    width: 33.333333333%; } }

@media screen and (min-width: 840px) {
  .u-1-6 {
    width: 16.6666666667%; } }

/*

#lille-lines            {
	margin-top: -72px;
}

*/
@-webkit-keyframes soren {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes soren {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (min-width: 720px) {
  .u-1\/1\@sm {
    width: 100% !important; }
  .u-1\/2\@sm {
    width: 50% !important; }
  .u-2\/2\@sm {
    width: 100% !important; }
  .u-1\/3\@sm {
    width: 33.33333% !important; }
  .u-2\/3\@sm {
    width: 66.66667% !important; }
  .u-3\/3\@sm {
    width: 100% !important; }
  .u-1\/4\@sm {
    width: 25% !important; }
  .u-2\/4\@sm {
    width: 50% !important; }
  .u-3\/4\@sm {
    width: 75% !important; }
  .u-4\/4\@sm {
    width: 100% !important; }
  .u-1\/5\@sm {
    width: 20% !important; }
  .u-2\/5\@sm {
    width: 40% !important; }
  .u-3\/5\@sm {
    width: 60% !important; }
  .u-4\/5\@sm {
    width: 80% !important; }
  .u-5\/5\@sm {
    width: 100% !important; } }

@media screen and (min-width: 1024px) {
  .u-1\/1\@md {
    width: 100% !important; }
  .u-1\/2\@md {
    width: 50% !important; }
  .u-2\/2\@md {
    width: 100% !important; }
  .u-1\/3\@md {
    width: 33.33333% !important; }
  .u-2\/3\@md {
    width: 66.66667% !important; }
  .u-3\/3\@md {
    width: 100% !important; }
  .u-1\/4\@md {
    width: 25% !important; }
  .u-2\/4\@md {
    width: 50% !important; }
  .u-3\/4\@md {
    width: 75% !important; }
  .u-4\/4\@md {
    width: 100% !important; }
  .u-1\/5\@md {
    width: 20% !important; }
  .u-2\/5\@md {
    width: 40% !important; }
  .u-3\/5\@md {
    width: 60% !important; }
  .u-4\/5\@md {
    width: 80% !important; }
  .u-5\/5\@md {
    width: 100% !important; } }

@media screen and (min-width: 1280px) {
  .u-1\/1\@lg {
    width: 100% !important; }
  .u-1\/2\@lg {
    width: 50% !important; }
  .u-2\/2\@lg {
    width: 100% !important; }
  .u-1\/3\@lg {
    width: 33.33333% !important; }
  .u-2\/3\@lg {
    width: 66.66667% !important; }
  .u-3\/3\@lg {
    width: 100% !important; }
  .u-1\/4\@lg {
    width: 25% !important; }
  .u-2\/4\@lg {
    width: 50% !important; }
  .u-3\/4\@lg {
    width: 75% !important; }
  .u-4\/4\@lg {
    width: 100% !important; }
  .u-1\/5\@lg {
    width: 20% !important; }
  .u-2\/5\@lg {
    width: 40% !important; }
  .u-3\/5\@lg {
    width: 60% !important; }
  .u-4\/5\@lg {
    width: 80% !important; }
  .u-5\/5\@lg {
    width: 100% !important; } }

@media screen and (min-width: 1440px) {
  .u-1\/1\@xl {
    width: 100% !important; }
  .u-1\/2\@xl {
    width: 50% !important; }
  .u-2\/2\@xl {
    width: 100% !important; }
  .u-1\/3\@xl {
    width: 33.33333% !important; }
  .u-2\/3\@xl {
    width: 66.66667% !important; }
  .u-3\/3\@xl {
    width: 100% !important; }
  .u-1\/4\@xl {
    width: 25% !important; }
  .u-2\/4\@xl {
    width: 50% !important; }
  .u-3\/4\@xl {
    width: 75% !important; }
  .u-4\/4\@xl {
    width: 100% !important; }
  .u-1\/5\@xl {
    width: 20% !important; }
  .u-2\/5\@xl {
    width: 40% !important; }
  .u-3\/5\@xl {
    width: 60% !important; }
  .u-4\/5\@xl {
    width: 80% !important; }
  .u-5\/5\@xl {
    width: 100% !important; } }

/* u-1/1 u-1/2@md */
.m-0 {
  margin: 0; }
